body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 + span {
    display: block;
    font-size: 14px;
    margin: 0 0 23px;
}

.hiName {
  color: #000;
    padding: 2rem 0 0 0;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.hiName span {
  display: block;
  font-weight: bold;
  font-size: 6.5rem;
  padding: 1rem 0 1rem 0;
  font-family: serif;
  text-transform: lowercase;
  font-style: italic;
  letter-spacing: -2.5px;
}

.nameInput {
  margin-top: 50px;
}

.App-header {
  height: initial !important;
  text-align: center; 
}

.submitLoanReq {
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2vw;
  color: #fff;
  background-color: #000;
  transition: 0.2s ease-out; 
  margin: 2px 0 10px 0;
}

.submitLoanReq:hover {
  background-color: orangered;
}

.submitLoanReq:acitve {
  background-color: maroon;
}

h2, .articleSummary, .author {
  text-align: left;
  margin: 2rem;
}

h2 {
  margin: 4rem 5rem 0.9rem 2rem;
}

.returns {
  max-width: 800px;
  margin: 0 auto 2rem auto;
}
.returns a, .returns h2 {
  color: #000;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  background-color: #fff;
  padding: 2rem 0 0 0
}

.returns h2:hover {
  color: rgb(252, 81, 1);
}

.author {
  margin: 0.5rem 0 0 2rem;
  font-size: 12px;
}

.time {
  font-size: 0.6rem;
  text-align: left;
  padding: 0 0 0 2rem;
}

.articleSummary {
  font-size: 12.5px;
  margin: 1.2rem 5rem 1.5rem 2rem;
}

.oneArticle {
  /* border-left: 5px solid rgb(252, 81, 0); */
  padding: 0 0 0 20px;
  margin: 0 0 6rem 0;
}

.imgSq {
  width: 25em;
  height: 14em;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  background-position: center center;
  margin: 2em 0 0 2em;
  transform: translate3d(0,0,0)
}

.imgSq:hover {
  background-size: 115%;
  transform: translate3d(0,0,0)
}

.oneArticle img {
  width: 50vw;
  display: inherit;
  max-width: 496px;
  /* margin: 4rem 0 0 2rem; */
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5882352941176471);
  border-radius: 3px;
  transition: 0.35s ease-in-out;
  transform: translate3d(10px, -4px, 0) scale(0.9);
  opacity: 0.7;
}

.oneArticle:hover img {
  clip-path: inset(0% 0 0% 0);
  transform: translate3d(30px, 0px, 0) scale(1);
  opacity: 1;
}

.codeLink {
  color: rgb(255, 81, 0);
  text-decoration: none;
  transition: 0.3s ease-out;
  letter-spacing: -2px;
  font-style: italic;
  font-family: serif;
  font-size: 2.5rem;
}

.codeLink:hover {
  color: rgb(255, 115, 0);
  text-shadow: 0 0 10px rgba(255, 176, 131, 0.596)
}

.enterSource {
  padding: 0.5rem;
  font-size: 1rem;
}

.enterSource ~ p {
  font-size: 1rem;
    margin: 1rem;
    font-family: monospace;
}

.nothingA {
    text-align: center;
    font-size: 31px;
    font-family: serif;
    font-style: italic;
    font-weight: bold;
}